{%  extends 'base.html' %}
{% load thumbnail %}
{% block title %}
Posts
{% endblock %}
{% block body %}
    <div class="container">
    <a href="{% url 'posts:createPost' %}"><button class="btn-primary">Create a Post</button></a>
    </div>
    <div class="container">
    {% if all_posts %}
        <ul>
            {%  for m in all_posts %}
                <li id="{{ m.id }}" ><div class="container mdi-border">
                {% if m.group %}
                    <a href="{% url 'groups:groupDetail' m.group.name %}"><img src="../{% thumbnail m.group.picture 140x140 %}" width="100" height="100">{{ m.group.name }}</a><br>
                {% endif %}
                <a href="{% url 'profiles:profileView' m.owner %}"><img src="../{{ m.owner.profile.picture }}" width="50" height="50">
                    {{ m.owner.profile.firstName }} {{ m.owner.profile.lastName }}
                </a>
                <p class="small help-block">{{ m.date }}</p>
                {% if m.owner == request.user %}
                    <div class="float-right">
                    <a href="{% url 'posts:editPost' m.pk %}"><button class="btn-primary btn-sm">Edit</button> </a>
                    <a href="{% url 'posts:deletePost' m.pk %}"><button class="btn-primary btn-danger">Delete</button> </a>
                    </div>
                {% endif %}

                {% if m.image %}
                <img src="../{{ m.image }}  " width="400" height="400"><br>
                {% endif %}
                <div class="container mdi-border">
                    <p>{{ m.text }}</p>
                </div>
                    <br>
                <div>
                <button class="btn-primary btn-sm like-button" type="submit">
                    {% if request.user in m.likes.all %}Unlike
                    {% else %}Like
                    {% endif %}</button>
                <span>{{ m.likes.count }}</span>

                <br><br>
                </div>
                <div class="comments">
                    {% for comment in m.comment_post.all %}
                        <a href="{% url 'profiles:profileView' comment.owner %}"><img src="../{{ comment.owner.profile.picture }}" width="50" height="50">{{ comment.owner.profile.firstName }} {{ comment.owner.profile.lastName }}</a>
                        <p class="comment">{{ comment.text }}</p>
                    {% endfor %}
                </div>
                <div class="comment-form">
                    <input class="comment-text" type="text" placeholder="Add a Comment">
                    <input class="btn-sm comment-button" type="submit" value="Comment">
                </div>
                </div>
                </li>


            {%  endfor %}
        </ul>
    {% else %}
        <h3>No Posts</h3>
    {%  endif %}
    </div>
{% endblock %}

{% block extra-head %}
    <script src="http://localhost:4000/socket.io/socket.io.js"></script>
    <script>
    var host = 'localhost';
    var port = '4000';

    var socket = io(host + ':' + port);


    $(document).ready(function () {
        $('.home').addClass('active');
        $('.like-button').click(function (e) {
            e.preventDefault();
            var post=$($(this).parents('li')[0]);
            var post_id=post.attr('id');
            var user = "{{ request.user }}";
            var like = $(this).text().trim();
            var likes = parseInt($(this).next().text().trim());
            if(like=="Like"){
                likes=likes+1;
                like="Unlike";
            }
            else{
                likes=likes-1;
                like="Like";
            }
            likeObject={
                "user":user,
                "post_id":post_id,
                "like":like,
                "likes": likes

            };
            socket.emit('like', likeObject);

        });
        $('.comment-button').click(function (e) {
            e.preventDefault();
            var post=$($(this).parents('li')[0]);
            var post_id=post.attr('id');
            var user = "{{ request.user }}";
            var comment_text = $(this).prev().val();


            commentObject={
                "user":user,
                "post_id":post_id,
                "comment_text":comment_text

            };

            socket.emit('comment', commentObject);
            $(this).prev().val('');

        });

        socket.on('getLike', function(likeObject) {
        // gets the fields of the message
            var post_id = likeObject.post_id;
            var post = $('#'+post_id);
            var btn = post.find('.like-button')[0];
            if(likeObject.user=="{{ request.user }}"){
                $(btn).text(likeObject.like);
            }
            $(btn).next().text(likeObject.likes);
        });

        socket.on('getComment', function(commentObject) {
        // gets the fields of the message
            var post_id = commentObject.post_id;
            $.ajax({
                url: '{% url 'posts:getUser' %}',
                method: "GET",
                data: {
                    'user': commentObject.user
                },
                success: function (data) {
                    var comment_text = commentObject.comment_text;
                    var post = $('#'+post_id);
                    var comment_div = $(post.find('.comments')[0]);
                    comment='<a href="/profiles/"'+ data.username +'><img src="../'+ data.picture +'" width="50" height="50">'+data.firstName+' '+data.lastName+'</a><p class="comment">'+comment_text+'</p>';
                    comment_div.append(comment);

                }, error:function (error) {
                    console.log(error);
                }
            });
        });
    });
    </script>
{% endblock %}