 {%  extends 'base.html' %}
{% load staticfiles %}

{%  block body %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group ">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ field.errors }}</span>
                </div>
                <label class="control-label col-sm-2 " for="title">{{ field.label_tag }}</label>
                <div class="col-sm-10">{{ field }}</div>
                <br>
            </div>
        {% endfor %}
        </br></br></br>
        <button style="margin-left: 25%;" type="submit">Submit</button>
    </form>
{% endblock %}