{%  extends 'base.html' %}
{% block title %}
Posts
{% endblock %}
{% block body %}
    <div class="container">
    <a href="{% url 'posts:createPost' %}"><button class="btn-primary">Create a Post</button></a>
    </div>
    <div class="container">
    {% if all_posts %}
        <ul>
            {%  for m in all_posts %}
                <div class="container mdi-border">
                <li><a href="{% url 'profiles:profileView' m.owner %}"><img src="../{{ m.owner.profile.picture }}" width="50" height="50">
                    {{ m.owner.profile.firstName }} {{ m.owner.profile.lastName }}
                </a>
                <p class="small help-block">{{ m.date }}</p>
                {% if m.owner == request.user %}
                    <div class="float-right">
                    <a href="{% url 'posts:editPost' m.pk %}"><button class="btn-primary btn-sm">Edit</button> </a>
                    <a href="{% url 'posts:deletePost' m.pk %}"><button class="btn-primary btn-danger">Delete</button> </a>
                    </div>
                {% endif %}

                {% if m.image %}
                <img src="../{{ m.image }}  " width="400" height="400"><br>
                {% endif %}
                <div class="container mdi-border">
                    <p>{{ m.text }}</p>
                </div>
                    <br>
                <div>
                <button class="btn-primary btn-sm like-button" type="submit" href="{% url 'posts:likePost' m.id %}">
                    {% if request.user in m.likes.all %}Unlike
                    {% else %}Like
                    {% endif %}:
                {{ m.likes.count }}
                </button>
                </div>
                </li>
                </div>

            {%  endfor %}
        </ul>
    {% else %}
        <h3>No Posts</h3>
    {%  endif %}
    </div>
{% endblock %}

{% block extra-head %}
    <script>
    $(document).ready(function () {
        $('.home').addClass('active');
        $('.like-button').click(function (e) {
            e.preventDefault();
            var likeUrl = $(this).attr('href');
            $.ajax({
                url: likeUrl,
                method: "GET",
                data: {},
                success: function (data) {
                    if(data.liked){
                        $('.like-button').text(' Unlike: '+JSON.stringify(data.likes));
                    }
                    else{
                         $('.like-button').text(' Like: '+JSON.stringify(data.likes));
                    }
                }, error:function (error) {
                    alert(error);
                }
            })
        })
    });
    </script>
{% endblock %}