{%  extends 'base.html' %}
{% load thumbnail %}
{% block title %}
Messages
{% endblock %}
{% block body %}
    <div class="container">
    {% if all_messages %}
        <ul>
            {%  for m in all_messages %}
                <li><a href="{% url 'profiles:profileView' m.sender %}"><img src="../{% thumbnail m.sender.profile.picture 140x140 %}" width="100" height="100">
                    {{ m.sender.profile.firstName }} {{ m.sender.profile.lastName }}
                </a>
                <div class="container mdi-border">
                    <p>{{ m.message }}</p>
                </div>
                <a href="{% url 'message:createMessage' m.sender %}"><button class="btn-primary">Reply</button> </a>
                </li>

            {%  endfor %}
        </ul>
    {% else %}
        <h3>No Messages</h3>
    {%  endif %}
    </div>
{% endblock %}